<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
</head>
<style>
    p{

        font-weight: bolder;
    }

</style>

<body>
    <%- include('partials/header')%>

    <p style="text-transform:capitalize">Name: <%= data.firstname %> <%= data.lastname %></p>
    <p style="text-transform:capitalize">Area: <%= data.area %></p>
    <p>Mobile No: <%= data.mobile%></p>
    
</body>
</html>